/*弹出框*/
/* .box-table{
	width: 500px;
	position: fixed;
	top: 20%;
	left: 35%;
	text-align: center;
	z-index: 9;
	background-color: #355A86;
	color: #fff;
} */
.box-table{
	width: 100%;
	text-align: center;
}
#box table{
	width: 100%;
	border: 1px solid #fff;
	line-height: 30px;
	text-align: center;
}
.table-contribute{
	 width: 100%; 
	border: none;
	text-align: center;
	background-color: #fff;
}
.table-td-contribute{
	 width: 50px; 
}
/*.box-btn{
	margin-top: 20px;
	margin: 10px;
	width: 70px;
	height: 30px;
	border: none;
	background-color: #fff;
	color: #355A86;
	font-family: "微软雅黑";
	line-height: 20px;
}*/